@media (max-width: 480px) {
   .header-text{
       margin-left: 20px;
       width: 80%;
   }

   .text-first{
       font-size: 25px;
   }

   .text-second{
       font-size: 40px;
   }

   .gallery-text{
       display: block;
   }

   h2{
       text-align: center;
       font-size: 40px;
       margin-right: 0;  
   }

   .lorem-1{
       font-weight: bold;
       padding-top: 12px;
       font-size: 22px;
   }

   .gallery-img{
       display: block;

   }

   .gallery-img img{
       width: 100%;


   }

   .gallery-img div{
       width: 100%;
    }

    main section{
        width: 90%;
    }

    .second-img{
        padding-top: 10px;
    }


}
